body {
  font-family: Arial, sans-sans-serif;
}

header {
  background-color: #202020;
  height: 75px;
  color: white;
}

header h1 {
  float: left;
  font-size: 30px;
  font-weight: bold;
  padding: 25px;
  display: inline-block;
}

header a {
  font-size: 18px;
  display: inline-block;
  padding: 28.5px;
  float: right;
  background-color: olivedrab;
}

nav {
  background-color: darkblue;
  color: white;
  /* height: 50px; */
  padding: 20px;
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  /* add hover features to li's */
}

nav li {
  display: inline;
  padding: 100px;
}

#hero h2 {
  background: url('../images/1.jpg');
  background-size: cover;
  height: 475px;
  background-position: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 30px;
}

#hero p {
  background-color: #202020;
  color: white;
  padding: 25px 35px;
  font-size: 15px;
}

#landmarks {
  background-color: lightgrey;
  color: black;
}

.lndmrk-list {
  display: inline-block;
  width: 30%;
  font-size: 25px;
  font-weight: bold;
  vertical-align: top;
  padding-top: 40px;
  padding-bottom: 15px;
  padding-left: 35px;
}

.lndmrk-list img{
  height: 200px;
  width: 400px;
  object-fit: cover;
}

footer {
  color: white;
  background-color: #202020;
  padding: 20px 35px;
}
